body{
    background-color: #d7dce2;
}


#paiBotao {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

div.circle{
	position: relative;
	display: flex;
	width: 150px;
	height: 150px;
	border-radius: 150px;
	align-items: center;
	justify-content: center;
}
div.circle:before{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 150px;
	height: 150px;
	content: " ";
	cursor: pointer;
	transition: 0.3s ease-out;
	border-radius: 150px;
	filter: blur(7px);
}

div.circle:before {
	box-shadow: 8px 8px 20px #a9a8b7, -8px -8px 20px #fff;
}
div.circle_black:before {
	box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5),
		-8px -8px 20px rgba(255, 255, 255, 0.2);
}
div.circle:hover:before {
	box-shadow: 8px 8px 20px #a9a8b7, -8px -8px 20px #fff,
		inset -8px -8px 20px #fff, inset 8px 8px 20px #a9a8b7;
}
div.circle_black:hover:before {
	box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5),
		-8px -8px 20px rgba(255, 255, 255, 0.2), inset 8px 8px 20px rgba(0, 0, 0, 1),
		inset -8px -8px 20px rgba(255, 255, 255, 0.2);
}
div.circle:hover:before,
div.circle_black:hover:before {
	transition: 0.3s ease-in;
	transform: scale(1.05);
}
div.circle a,
div.circle_black a {
	position: relative;
	z-index: 5;
	user-select: none;
	cursor: pointer;
}
div.circle_black {
	color: white;
}
@media (max-width: 700px) {
	body {
		height: auto;
		flex-direction: column;
	}
	section.light,
	section.dark {
		width: 100vw;
		height: 100vh;
	}
}



div.circle {
	position: relative;
	display: flex;
	width: 150px;
	height: 150px;
	border-radius: 150px;
	align-items: center;
	justify-content: center;
}

div.circle:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 150px;
	height: 150px;
	content: " ";
	cursor: pointer;
	transition: 0.75s ease-out;
	border-radius: 150px;
	filter: blur(7px);
	box-shadow: 8px 8px 20px #a9a8b7, -8px -8px 20px #fff;
}
div.circle_black:hover:before {
	transition: 0.75s ease-in;
	transform: scale(1.1);
}